.header {
  background-color: white;
}
.header-font {
  font-family: sans-serif;
}
.one {
  font-family: sans-serif;
  background-color: grey;
}
.two {
  font-family: sans-serif;
  background-color: pink;
}
.three {
  font-family: sans-serif;
  background-color: pink;
}
